html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(8, 8, 47);
    font-size: calc(10px + 0.8vw);
}

body {
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
}

#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: stretch;
    align-items: stretch;
}

#about {
    margin: 5% 5% auto;
    flex-grow: 1;
}

#about-text {
    text-align: justify;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin: 0px;
}

#links {
    margin: 5%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    flex-shrink: 0;
    color: white;
}

.navlinkwrapper {
    margin-right: 16px;
    margin-bottom: 8px;
}

.navlink {
    color: white;
    text-decoration: none;
}
